//COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-blue-dark: #16006F;
$color-blue-light: #203ABD;

$color-pink-light: #ff9068;
$color-pink-dark: #fd746c;


$color-black: black;
$color-primary-green: #55efc4;
$color-white: #fff;
$color-primary-gray1: #f7f7f7;
$color-primary-gray2: #eee;
$color-primary-gray3: #999;
$color-primary-gray4: #333;
$color-primary-gradient1: #00C9FF;
$color-primary-gradient2: #92FE9D;
$color-primary-blue: #283e51;
$color-primary-blue-1: #4b79a1;

$color-primary-blue-light: rgba(61, 74, 255, 0.089);

//GRID
$grid-width: 114rem;
$gutter-vertical: 7rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 5rem;

//FONT
$default-font-size: 1.6rem;